.container {
    background-color: rgb(0, 0, 0);
    padding: 15px;
    width: 900px;
    float: left;
}

.sidebar {
    background-color: bisque;
    float: left;
    width: 30%;
    height: 400px;
}

.content {
    background-color: rgb(173, 132, 78);
    width: 70%;
    float: right;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}